<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      {{>scripts}}
      
    </head>
    <body>
  </head>
  <body class = "bg-dark text-light">
    <header>
<!-- Navbar -->
      {{>navbar}}
    </header>
        <!-- Navegacion-->
        <div class="jumbotron text-center text-white">
            <div class="container">
                <h1 class="display-3">Bienvenido</h1>
                <p class="lead">Lopez Montero Brandon 17211534</p>
            </div>
        </div>

    {{{body}}}

    <!--footer o pie de pagina -->

    </body>
</html>

