<div class="container login-container">
    <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Inicio de sesion</h3>
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Your Email *" />
                    </div>
                    <br class="my-4">
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Your Password *" />
                    </div>
                    <br class="my-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>

    </div>

</div>